//бордер градиентом с прозрачным содержимым
https://dev.to/afif/border-with-gradient-and-radius-387f

.box {
  position: relative;
}
.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 10px; 
  background:linear-gradient(45deg,red,blue); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

//чтобы не моргали кнопки при тапах в мобильном хроме

*:focus,
*:active {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

//градиент в качестве цвета текста

  background: -webkit-linear-gradient(
        90deg,
        #9de790 -50.89%,
        #3a6639 103.87%
    );background
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


//Полупрозрачная маска на текст
.className {
    -webkit-mask-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.03) 100%);}


// размытое пятно в помощью градиента

background: radial-gradient(
                50% 50% at 50% 50%,
                #2bc57c 0%,
                rgba(0, 0, 0, 0) 100%
            );background

// анимированное кольцо загрузки через svg

<div className='progressbar'>
<svg viewBox="0 0 100 100">
  <path d="M 50 96 a 46 46 0 0 1 0 -92 46 46 0 0 1 0 92" />
</svg>
<div className="p-home-m-seo-quotes__item-img">{img}</div>
</div>

.progressbar {
  path {
    stroke: var(--accent-alpha);
    stroke-width: 2;
    stroke-dasharray: 288.5; 
    stroke-linecap: round;
    fill: none;
    transform-origin: 50px 50px;
    animation: pathStroke 5000ms linear;
    animation-fill-mode: forwards;
  }

  @keyframes pathStroke {
    0% {
      stroke-dashoffset: -288.5;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
}

//красим css через background-image

background-color: #fff;
mask-image: url('../../img/arrow.svg');
mask-repeat: no-repeat;

//Safari border-radius + overflow: hidden + CSS transform fix
// Add on element with overflow
-webkit-mask-image: -webkit-radial-gradient(white, black);
